*{
    margin: 0;
}
#two{
    color: red;

}

.one{

    background-color:black;
    color: white;
    padding:25px
}
ul,li,h1{
    display: inline;
}
ul{
    margin-left:75%
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color:white

}
input{
    padding: 20px;
    width: 40%;
    margin-top: 20px;

}
.searchbar{
    text-align: center;
}
img{
height: 250px;
width: 300px;

}
.box1,.box2,.box3{
    display: inline;
}
.tr{
text-align: center;
    padding:20px;       
}   
.th{text-align: center;
} 
p,h3{ 
    display: inline;
    padding-left: 10px;
}
.he{
    padding-top: 20px;
}
.ee{
    color:black
    
    
}
h3:hover{
color: grey;
cursor: pointer;}

button{
    background-color: skyblue;}